In [1]:
# Databases are constructed with tables
# rows --> RECORDS --> no limit on records
# columns --> FIELDS --> set at DB creation

# unique indentifiers are used to indentify records in a table

In [2]:
""" Running SQL "code" """

# SELECT * --> indicates which FIELDS should be selected (can select multiple FIELDS) --> * selects all FIELDs
# FROM <table_name>; --> indicates the table where data is stored

# above code displays the data in the chosen table

# VARCHAR is a popular string data type in SQL --> stores 1000s of characters --> no need to perfrom mathematical operations on these values
# INT is a popular integer data type in SQL 
# # NUMERIIC is a popular float data type in SQL

' Running SQL "code" '

In [3]:
""" Aliasing """

# SELECT <FIELD> AS <ALIAS> --> the ALIAS renames the FIELD column in the query search
# FROM <Table> 

""" distinct records """

# SELECT DISTINCT <FIELD> --> removes duplicates and only displays the distinct values

""" Views """

# a view is a virtual table that is result of  saved SQL SELECT statement

# ex) CREATE VIEW employee_hire_years AS
#     SELECT id, name, year_hired
#     FROM employees;

' Views '

In [1]:
""" counting number of records """

# COUNT(<FIELD>) --> count number of instances --> need to use COUNT() multiple times for multiple counts --> COUNT(), COUNT() 
# ex) SELECT COUNT(birthdate) AS count_birthdates
#     FROM people;

# COUNT(*) --> counts all records in the table --> All rows
# COUNT(DISTINCT <field_name>) --> counts distinct values

""" General points of importance """

# ensure keywords are capitalized
# poorly named fields should be placed in quotes --> facebook likes --> "facebook likes" underscore instead of spaces

' General points of importance '

In [1]:
""" Filtering """

# WHERE keyword used to filter based on a condition
# <> --> means "not equal to" in SQL
# use single quotes around strings to filter by

# MULTIPLE CRITERIA --> we have OR, AND, and BETWEEN as additional keywords for filtering

' Filtering '

In [1]:
""" Filtering Text """

# LIKE, NOT LIKE, and IN --> keywords used to filter a pattern in text

# for LIKE, we can include a % or a _ (underscore) to match characters. % matches many characters, _ matches a single character.
# ex) Ade% matches to Adel, Adelaide, etc.  ex) Ev_ matches to Eve, Eva, etc.

# WildCard position --> % and _ can be placed anywhere in the text to filter in different ways
# IN can be used to filter based on multiple conditions
# BETWEEN
# AND, OR

' Filtering Text '

In [ ]:
""" Null values """

# IS NULL keyword used to check if a field has missing values
# IS NOT NULL